.grid_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(350px, 1fr));
    padding: 25px;
    grid-gap: 25px;
    max-height: 90%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    scrollbar-width: none;
}