@import "variable";
@import "./Normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400&display=swap');



* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
    color: rgba($color: #000000, $alpha: 0.8);
}


#root {
    width: 100%;
    height: 100%;
}

.full_wrapper {
    width: 100%;
    height: 100%;
}

.form-group {
    display: flex;
    flex-flow: column;
}


@each $name ,
$font-weight in("bolder" : 700, "bold" : 600, "faded" : 400) {
    .fs-#{$name} {
        font-weight: $font-weight;

        @for $i from 1 to 5 {

            &-#{$i} {
                font-weight: $font-weight;
                font-size: 0.5em * $i;
            }
        }
    }
}

@each $abbr,
$name in ("t": "top", "r": "right", "b": "bottom", "l": "left") {
    @for $index from 0 through 5 {
        .p#{$abbr}-#{$index} {
            padding-#{$name}: calc(0.5rem * $index);
        }

        .m#{$abbr}-#{$index} {
            margin-#{$name}: calc(0.5rem * $index);
        }
    }
}

@each $name in (start, center, end) {
    .text-#{$name} {
        text-align: $name;
    }
}


$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);


$i: 0;

@while $i <=100 {
    $val: auto;
    $k: $val;

    @if $i  !=0 {
        $val: unquote(($i)+'%');
        $k: $i;
    }

    .w-#{$k} {
        width: $val;
    }

    .h-#{$k} {
        height: $val;
    }

    $i: $i + 5;
}

@each $key,
$size in $grid-breakpoints {
    @media (min-width: $size) {
        $i: 0;

        @while $i <=100 {
            $val: auto;
            $k: $val;

            @if $i  !=0 {
                $val: unquote(($i)+'%');
                $k: $i;
            }

            .w-#{$key}-#{$k} {
                width: $val;
            }

            .h-#{$key}-#{$k} {
                height: $val;
            }

            $i: $i + 5;
        }
    }
}

button {
    cursor: pointer;
}

input {
    border: none;
    border: 1px solid black;
    padding: 0.5em;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    &:focus {
        outline: none;
    }
}

textarea {
    resize: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: 0px;
    padding: 0.5em;

    &:focus {
        outline: none
    }
}

.form-group {
    position: relative;
}

.btn {
    &.rounded {
        display: inline-block;
        outline: 0;
        border: none;
        cursor: pointer;
        padding: 0 24px;
        border-radius: 50px;
        min-width: 200px;
        height: 50px;
        font-size: 18px;
        background-color: $primary;
        font-weight: 500;
        color: #222;

    }

    &-primary {
        position: relative;
        background-color: $primary;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 10px 15px;
        border: 0;
        outline: none;

        &:focus,
        &:hover,
        &:active {
            outline: none;
            transition: all 0.3s ease-out;
            transform: translateY(-1px);
            box-shadow: 0 0 4px $primary;
            box-shadow: $primary 0px 10px 25px -12px;
        }
    }

    &-secondary {
        background-color: $secondary;
        position: relative;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 10px 15px;
        border: 0;
        outline: none;

        &:focus,
        &:hover,
        &:active {
            outline: none;
            transition: all 0.3s ease-out;
            transform: translateY(-1px);
            box-shadow: $secondary 0px 10px 25px -12px;
        }
    }

    &-tertiary {
        background-color: $tertiary;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 10px 15px;
        border: 0;
        outline: none;

        &:focus,
        &:hover {
            outline: none;
            transition: all 0.3s ease-out;
            transform: translateY(-1px);
            box-shadow: $tertiary 0px 10px 25px -12px;
        }
    }
}

p {
    &.sm {
        font-size: 0.8em;
    }

    &.faded {
        opacity: 0.6;
    }
}

body::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

input.invalid {
    box-shadow: inset 7px 0px 0px -3px red;
}


.react-icon {
    @each $size in (18, 24, 36, 48) {
        &.md-#{$size} {

            height: unquote($size + "px");
            width: unquote($size + "px");
        }
    }
}