@import "../../style/variable";

@keyframes drawer {
    0% {
        right: -100%;
    }

    100% {
        right: 0;
    }
}

.navbar {
    display: flex;
    width: 100%;
    height: 10%;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background-color: $tertiary;

    &-logo {
        width: 25%;
        display: flex;
        object-fit: cover;
        height: 100%;

        img {
            display: flex;
            width: 100%;
            object-fit: contain;
        }

    }

    &-links {
        width: 50%;
        display: none;
        justify-content: flex-end;


        @media screen and (min-width : $medium_screen) {
            display: flex;
        }
    }

    &-links-responsive {
        width: 25%;
        display: flex;
        justify-content: end;

        @media screen and (min-width : $medium_screen) {
            display: none;
        }
    }

    & .drawer {
        margin: 0;
        height: 100vh;
        width: 100vw;
        position: fixed;
        right: 0;
        top: 0;
        background-color: white;
        z-index: 9999;
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        list-style: none;
        animation: drawer 0.3s ease-in-out forwards;

    }

}

.text_link {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: 600;
    transition: all 300ms ease-in-out;

    &:hover {
        color: $secondary;
        text-underline-offset: 3px;
        text-decoration: underline;
        text-decoration-color: $primary;
    }
}

.add_post {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $secondary;
    border: none;

    &:hover>svg,
    &:active>svg {
        color: black;
        scale: 1.1;
    }

    svg {
        color: $primary;
        transition: all 0.3s;
    }
}